body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-image: url(./Imagenes/Otro\ fondo\ total.jpg);
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
#game-container {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  background-image: url(./Imagenes/Fondo\ restaurant\ oscuro.png);
  background-size: cover;
  border: rgb(185, 239, 249) solid 8px;
  overflow: hidden;
  border-radius: 30px;
  
}

.personaje {
  position: absolute;
  width: 100px;
  height: 150px;
}


.moneda {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: gold;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgba(255, 223, 0, 0.8);
}

#puntos {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
}

/*Para el responsive, use media queries */
@media (max-width: 600px) {
  #game-container {
    width: 90vw; /* 90% del ancho de la ventana */
    height: 70vh; /* 70% del alto de la ventana */
  }

  .personaje {
    width: 15vw; /* 15% del ancho de la ventana */
    height: 20vw; /* 20% del alto de la ventana */
  }

  .moneda {
    width: 5vw; /* 5% del ancho de la ventana */
    height: 5vw; /* 5% del alto de la ventana */
  }

  #puntos, #vidas {
    font-size: 3vw; /* 3% del ancho de la ventana */
  }
}
/*vw (viewport width) y vh (viewport height) son unidades 
que representan el ancho y alto del viewport del navegador.*/

#Fondo general {
    justify-content: center;
}