body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-image: url(./Imagenes/Otro\ fondo\ total.jpg);
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#boton {
  background-color: rgb(156, 240, 255);
  border-radius: 10px;
  border: none;
  width: 80px;
  height: 25px;
  color: crimson;  
  box-shadow: 2px 2px 4px rgba(155, 7, 7, 0.5);
}

.contenedor-boton {
  display: flex;
  align-items: center;
  justify-content: center;
}

#titulo {
  color: rgb(91, 10, 167);
  font-family: "Gorditas", sans-serif;
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
}

#game-container {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  background-image: url(./Imagenes/Fondo\ restaurant\ oscuro.png);
  background-size: cover;
  border: rgb(185, 239, 249) solid 8px;
  overflow: hidden;
  border-radius: 30px;
  
}

.personaje {
  position: absolute;
  width: 100px;
  height: 150px;
}


.moneda {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: gold;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgba(255, 223, 0, 0.8);
}

#puntos {
  font-size: 20px;
  text-align: center;
  margin: 10px 0;
  font-family: "Gorditas", sans-serif;
  color: rgb(91, 10, 167);
}

#Fondo general {
    justify-content: center;
}

.inicio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.blur {
  filter: blur(5px);
  z-index: 1;

}
.contenido-inicio {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#empezar-juego {
  background-color: rgb (156, 240, 255);
  border-radius: 10px;
  border: none;
  width: 150px;
  height: 40px;
  color: crimson;
  box-shadow: 2px 2px 4px rgba(155, 7, 7, 0.5);
  font-size: 16px;
  cursor: pointer;
}

#empezar-juego:hover {
  background-color: rgb(100, 200, 220);
}



